In [1]:
import pandas as pd

In [2]:
utterances = pd.read_csv('../NIKL_OM_utterances.csv.tar.gz', compression='gzip', on_bad_lines='skip')
utterances

,../NIKL_OM_utterances.csv,id,form,original_form,speaker_id,time
0,0.0,MDRW2100000001.1.1,ì•ˆë…•í•˜ì„¸ìš”,ì•ˆë…•í•˜ì„¸ìš”,MDRW2100000001_1,20210512 16:04
1,1.0,MDRW2100000001.1.2,ï¸,{emoji:âœ¨}{emoji:ğŸ’š}{emoji:â¤}ï¸{emoji:ğŸ’™}{emoji:ğŸ“Œ}...,MDRW2100000001_2,20210514 16:26
2,2.0,MDRW2100000001.1.3,NaN,{share:url},MDRW2100000001_1,20210518 15:28
3,3.0,MDRW2100000001.1.4,ì´ê±° í•´ë´ìš”><,ì´ê±° í•´ë´ìš”><,MDRW2100000001_1,20210518 15:28
4,4.0,MDRW2100000001.1.5,"ë‚˜ì˜ ì§ì¥ì¸ ë©˜íƒˆ ì„±í–¥ì€ [ì•ˆì±™ê²¨ë„ ì˜ì»¤ìš”, íƒ•ë¹„ì‹¤ ì„ ì¸ì¥] ë‹¹ì‹ ì˜ ë©˜íƒˆ ì„±í–¥ì€ ...","ë‚˜ì˜ ì§ì¥ì¸ ë©˜íƒˆ ì„±í–¥ì€ [ì•ˆì±™ê²¨ë„ ì˜ì»¤ìš”, íƒ•ë¹„ì‹¤ ì„ ì¸ì¥] ë‹¹ì‹ ì˜ ë©˜íƒˆ ì„±í–¥ì€ ...",MDRW2100000001_2,20210518 15:37
...,...,...,...,...,...,...
3069923,3069923.0,MMRW2100000241.1.2784,ì•„ìŒã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹,ì•„ìŒã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹,MMRW2100000241_3,20210812 20:33
3069924,3069924.0,MMRW2100000241.1.2785,ê°€ì¦ˆì•„,ê°€ì¦ˆì•„,MMRW2100000241_3,20210812 20:33
3069925,3069925.0,MMRW2100000241.1.2786,ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ê°€ì¦ˆì•„!,ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ê°€ì¦ˆì•„!,MMRW2100000241_2,20210812 20:33
3069926,3069926.0,MMRW2100000241.1.2787,ë‹¬ë ¤ë‹¬ë ¤,ë‹¬ë ¤ë‹¬ë ¤,MMRW2100000241_1,20210812 20:33
3069927,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
del utterances['../NIKL_OM_utterances.csv']

utterances.dropna(inplace=True)

utterances = utterances[['id', 'form', 'speaker_id']]
utterances

,id,form,speaker_id
0,MDRW2100000001.1.1,ì•ˆë…•í•˜ì„¸ìš”,MDRW2100000001_1
1,MDRW2100000001.1.2,ï¸,MDRW2100000001_2
3,MDRW2100000001.1.4,ì´ê±° í•´ë´ìš”><,MDRW2100000001_1
4,MDRW2100000001.1.5,"ë‚˜ì˜ ì§ì¥ì¸ ë©˜íƒˆ ì„±í–¥ì€ [ì•ˆì±™ê²¨ë„ ì˜ì»¤ìš”, íƒ•ë¹„ì‹¤ ì„ ì¸ì¥] ë‹¹ì‹ ì˜ ë©˜íƒˆ ì„±í–¥ì€ ...",MDRW2100000001_2
5,MDRW2100000001.1.6,ì•„ì•—...,MDRW2100000001_2
...,...,...,...
3069922,MMRW2100000241.1.2783,ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹,MMRW2100000241_1
3069923,MMRW2100000241.1.2784,ì•„ìŒã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹,MMRW2100000241_3
3069924,MMRW2100000241.1.2785,ê°€ì¦ˆì•„,MMRW2100000241_3
3069925,MMRW2100000241.1.2786,ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ã…‹ê°€ì¦ˆì•„!,MMRW2100000241_2
3069926,MMRW2100000241.1.2787,ë‹¬ë ¤ë‹¬ë ¤,MMRW2100000241_1

In [4]:
forms = utterances['form'][utterances['form'].str.contains(r'\b(?:ì™„ì „(?:íˆ)?|ì•„ì£¼)\b', regex=True)]
forms

17                name1ë‹˜ ì™„ì „ ëŒ€ì¸ë°°
28           ã…‹ã…‹ã…‹ã…‹ì €ìš”? ì € ì™„ì „ ë°œë°œì´ì—ìš”
343                      ì™„ì „ ê·€ì—¬ì›€
427                    ì™„ì „ ë¨¹ì§±ì´ìë‚˜
700         ê·¼ë° ë‚˜ í°ì‚°í˜¸ ì™„ì „ ì‹¸ê²Œ êµ¬í•´ì„œ
                   ...
3065987         31ì¼ê¹Œì§€ë‹ˆê¹Œ ì•„ì£¼ ì—¬ìœ ìˆë„¤
3068503       ì•„ ì´ë²ˆ í† ìš©í…œ ì•„ì£¼ ë§˜ì— ë“ ë‹¤
3068646             ì™„ì „ ë¶€í‹°í¬ ê·¸ ìì²´
3068683    ë¯¸ì•  ì™„ì „ ì•„ì´ëŒ ì•„ë‹ˆëƒê³ ~~~!!!
3068709           í— ì™„ì „ ì²¨ ë³´ëŠ” ë²½ì§€ë‹¤
Name: form, Length: 12120, dtype: object

In [5]:
from collections import Counter

keywords = ('ì™„ì „', 'ì™„ì „íˆ', 'ì•„ì£¼')
collocations_dict = {}

# 'ì™„ì „ ã…‡ã…‡' ê¼´ì—ì„œ 'ã…‡ã…‡'ì— í•´ë‹¹í•˜ëŠ” ë¶€ë¶„ì„ ëª¨ì•„ì„œ ì¶œí˜„ íšŸìˆ˜ë¥¼ ì„¸ê¸°
for word in keywords:
    collocations_dict[word] = pd.Series(Counter(forms.str.findall(fr'\b{word} (\w+)').sum()))

collocations = pd.DataFrame(collocations_dict)
collocations

         ì™„ì „  ì™„ì „íˆ  ì•„ì£¼
0       1.0  NaN NaN
0ëì–´ìš”    NaN  1.0 NaN
1       2.0  NaN NaN
100í¼ì„¼íŠ¸  1.0  NaN NaN
100í”„ë¡œ   NaN  1.0 NaN
...     ...  ...  ..
í™í• ê±°ê°™ì•„   1.0  NaN NaN
í™í•©ì€     1.0  NaN NaN
í™í•´ì„œ     1.0  NaN NaN
í™í˜€      1.0  NaN NaN
íì…ë‹ˆë‹¤    1.0  NaN NaN

[7804 rows x 3 columns]

In [6]:
collocations[collocations.isna()] = 0
collocations = collocations.astype('int')
collocations

        ì™„ì „  ì™„ì „íˆ  ì•„ì£¼
0        1    0   0
0ëì–´ìš”     0    1   0
1        2    0   0
100í¼ì„¼íŠ¸   1    0   0
100í”„ë¡œ    0    1   0
...     ..  ...  ..
í™í• ê±°ê°™ì•„    1    0   0
í™í•©ì€      1    0   0
í™í•´ì„œ      1    0   0
í™í˜€       1    0   0
íì…ë‹ˆë‹¤     1    0   0

[7804 rows x 3 columns]

In [7]:
collocations.sort_values('ì™„ì „', ascending=False).head(10)

       ì™„ì „  ì™„ì „íˆ  ì•„ì£¼
ì¢‹ì•„í•´ìš”  173    0  13
ë§ì´     58    0  23
ì˜      50    0  59
ë§›ìˆì–´ìš”   38    0   7
ì¢‹ì•„ìš”    34    0  22
ë‹¤ë¥¸     31    3   1
ì¢‹ì•„     26    0  25
ë§›ìˆì£     26    0   1
ì›ƒê²½     26    0   0
ì—´ì‹¬íˆ    25    0   6

In [8]:
collocations.sort_values('ì™„ì „íˆ', ascending=False).head(10)

      ì™„ì „  ì™„ì „íˆ  ì•„ì£¼
ì¹´í”¼     1    5   0
ë‹¤     23    4   4
ë‹¤ë¥¸    31    3   1
ì¼ì–´ë‚¬ë‹¹   0    2   0
copy   0    2   0
ì¢…ì‹ë˜ì§€   0    2   0
ê°€ì„    17    2   0
ì˜í˜¼ì´    0    1   0
ìƒˆê±°ëŠ”    0    1   0
ìµíˆê¸°    0    1   0

In [9]:
collocations.sort_values('ì•„ì£¼', ascending=False).head(10)

     ì™„ì „  ì™„ì „íˆ  ì•„ì£¼
ê°€ë”    2    0  63
ê·¸ëƒ¥    4    0  62
ì˜    50    0  59
ì¢‹ì€   21    0  52
ì¢‹ì•„   26    0  25
ì¡°ê¸ˆ    1    0  24
ë§ì´   58    0  23
ì¢‹ì•„ìš”  34    0  22
ì˜ˆì „ì—   6    0  19
ì¡°ì•™    5    0  15

In [10]:
ntokens = collocations.sum(axis=0)
ntokens

ì™„ì „     8116
ì™„ì „íˆ     169
ì•„ì£¼     3039
dtype: int64

In [11]:
ntypes = (collocations > 0).sum(axis=0)
ntypes

ì™„ì „     5917
ì™„ì „íˆ     156
ì•„ì£¼     2095
dtype: int64

In [12]:
# TTR: Type-Token Ratio
ntypes / ntokens * 100

ì™„ì „     72.905372
ì™„ì „íˆ    92.307692
ì•„ì£¼     68.937150
dtype: float64

In [13]:
collocations.to_csv('../data/NIKL_OM_collocation_wanjeon.csv')

In [14]:
wj_aj = collocations[(collocations['ì™„ì „'] > 0) & (collocations['ì•„ì£¼'] > 0)]
del wj_aj['ì™„ì „íˆ']
wj_aj['ì™„ì „/ì•„ì£¼'] = wj_aj['ì™„ì „'].div(wj_aj['ì•„ì£¼'])
wj_aj

/tmp/ipykernel_117148/3400504462.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wj_aj['ì™„ì „/ì•„ì£¼'] = wj_aj['ì™„ì „'].div(wj_aj['ì•„ì£¼'])

        ì™„ì „  ì•„ì£¼     ì™„ì „/ì•„ì£¼
ã…‹        1   2  0.500000
ã…‹ã…‹       5   4  1.250000
ã…‹ã…‹ã…‹      6   7  0.857143
ã…‹ã…‹ã…‹ã…‹ã…‹    1   1  1.000000
ã…        1   2  0.500000
...     ..  ..       ...
í›Œë¥­í•˜ì‹­ë‹ˆë‹¤   1   1  1.000000
í›Œë¥­í•œ      3   3  1.000000
í¥ë¯¸ë¡œì›Œìš”    1   1  1.000000
í¥ë¯¸ì§„ì§„     5   3  1.666667
í˜ë“¤ì–´ìš”     1   1  1.000000

[339 rows x 3 columns]

In [15]:
wj_aj.sort_values('ì™„ì „/ì•„ì£¼').head(30)

       ì™„ì „  ì•„ì£¼     ì™„ì „/ì•„ì£¼
ê°€ë”      2  63  0.031746
ì¡°ê¸ˆ      1  24  0.041667
ê·¸ëƒ¥      4  62  0.064516
ì‚´ì§      1  14  0.071429
ë©‹ì§„      1  10  0.100000
ì¢‹ìŠµë‹ˆë‹¤    1  10  0.100000
ì²œì²œíˆ     1   9  0.111111
ì•½ê°„      1   6  0.166667
êµ¿       1   5  0.200000
ì–´ë¦´ë•Œ     2  10  0.200000
ë¬´ì„œìš´     1   4  0.250000
ì¢‹ë”ë¼êµ¬ìš”   1   4  0.250000
ì‘ì€      3  11  0.272727
ì˜ˆì „ì—     6  19  0.315789
êµ¿ì…ë‹ˆë‹¤    1   3  0.333333
ì•Œì°¨ê²Œ     2   6  0.333333
ì‹œì›í•´ìš”    1   3  0.333333
ë³„ë¡œì•¼     1   3  0.333333
ë§›ì´      1   3  0.333333
ì˜ˆì „      1   3  0.333333
ì˜í–ˆë‹¹     1   3  0.333333
ë‹¤ì–‘í•œ     1   3  0.333333
ìµœê·¼ì—     1   3  0.333333
ì¡°ì•™      5  15  0.333333
ì¢‹êµ°      1   3  0.333333
ì§€       1   3  0.333333
í•˜ë£¨ì¢…ì¼    1   3  0.333333
ë§›ë‚˜ê²Œ     2   5  0.400000
ì¢‹ì€     21  52  0.403846
ì¹œí•œ      1   2  0.500000

In [16]:
wj_aj.sort_values('ì™„ì „/ì•„ì£¼', ascending=False).head(30)

         ì™„ì „  ì•„ì£¼      ì™„ì „/ì•„ì£¼
ë‹¤ë¥¸       31   1  31.000000
ë§›ìˆì£       26   1  26.000000
ëŒ€ë°•       17   1  17.000000
ì œ        16   1  16.000000
ì¬ë°Œê²Œ      15   1  15.000000
ì¢‹ì•„í•´ìš”    173  13  13.307692
ë‹¬ë¼ìš”      13   1  13.000000
ì¬ë°Œì–´ìš”     10   1  10.000000
ë§›ìˆì–´      20   2  10.000000
ê¿€íŒì´ë„¤ìš”     9   1   9.000000
ë§›ìˆê² ì–´ìš”     8   1   8.000000
ì¢‹ì•„í•˜ì£      16   2   8.000000
ì¢‹ì€ë°ìš”      8   1   8.000000
ì¢‹ì•„í•´ì„œ     14   2   7.000000
ë¶€ëŸ¬ì›Œìš”     14   2   7.000000
ë©‹ì ¸ìš”      14   2   7.000000
ì¢‹ì„        7   1   7.000000
ì‹¸ê²Œ        7   1   7.000000
ë³„ë¡œ        7   1   7.000000
ë§›ìˆì—ˆì–´ìš”     7   1   7.000000
ë§›ìˆì„       6   1   6.000000
ì¬ë°Œì–´       6   1   6.000000
í¬ê²Œ        6   1   6.000000
ì¢‹ì•„í•˜ê±°ë“ ìš”    6   1   6.000000
ë‹¤        23   4   5.750000
ë§›ìˆì–´ìš”     38   7   5.428571
ë‚´ê°€        5   1   5.000000
ì¢‹ì•„ì—¬       5   1   5.000000
ë§›ìˆë”ë¼      5   1   5.000000
ì¢‹ì•„í•¨       5   1   5.000000