In [1]:
import pandas as pd

In [2]:
utterances = pd.read_csv('../NIKL_OM_utterances.csv.tar.gz', compression='gzip', on_bad_lines='skip')
utterances

,../NIKL_OM_utterances.csv,id,form,original_form,speaker_id,time
0,0.0,MDRW2100000001.1.1,안녕하세요,안녕하세요,MDRW2100000001_1,20210512 16:04
1,1.0,MDRW2100000001.1.2,️,{emoji:✨}{emoji:💚}{emoji:❤}️{emoji:💙}{emoji:📌}...,MDRW2100000001_2,20210514 16:26
2,2.0,MDRW2100000001.1.3,NaN,{share:url},MDRW2100000001_1,20210518 15:28
3,3.0,MDRW2100000001.1.4,이거 해봐요><,이거 해봐요><,MDRW2100000001_1,20210518 15:28
4,4.0,MDRW2100000001.1.5,"나의 직장인 멘탈 성향은 [안챙겨도 잘커요, 탕비실 선인장] 당신의 멘탈 성향은 ...","나의 직장인 멘탈 성향은 [안챙겨도 잘커요, 탕비실 선인장] 당신의 멘탈 성향은 ...",MDRW2100000001_2,20210518 15:37
...,...,...,...,...,...,...
3069923,3069923.0,MMRW2100000241.1.2784,아잌ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ,아잌ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ,MMRW2100000241_3,20210812 20:33
3069924,3069924.0,MMRW2100000241.1.2785,가즈아,가즈아,MMRW2100000241_3,20210812 20:33
3069925,3069925.0,MMRW2100000241.1.2786,ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ가즈아!,ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ가즈아!,MMRW2100000241_2,20210812 20:33
3069926,3069926.0,MMRW2100000241.1.2787,달려달려,달려달려,MMRW2100000241_1,20210812 20:33
3069927,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
del utterances['../NIKL_OM_utterances.csv']

utterances.dropna(inplace=True)

utterances = utterances[['id', 'form', 'speaker_id']]
utterances

,id,form,speaker_id
0,MDRW2100000001.1.1,안녕하세요,MDRW2100000001_1
1,MDRW2100000001.1.2,️,MDRW2100000001_2
3,MDRW2100000001.1.4,이거 해봐요><,MDRW2100000001_1
4,MDRW2100000001.1.5,"나의 직장인 멘탈 성향은 [안챙겨도 잘커요, 탕비실 선인장] 당신의 멘탈 성향은 ...",MDRW2100000001_2
5,MDRW2100000001.1.6,아앗...,MDRW2100000001_2
...,...,...,...
3069922,MMRW2100000241.1.2783,ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ,MMRW2100000241_1
3069923,MMRW2100000241.1.2784,아잌ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ,MMRW2100000241_3
3069924,MMRW2100000241.1.2785,가즈아,MMRW2100000241_3
3069925,MMRW2100000241.1.2786,ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ가즈아!,MMRW2100000241_2
3069926,MMRW2100000241.1.2787,달려달려,MMRW2100000241_1

In [4]:
forms = utterances['form'][utterances['form'].str.contains(r'\b(?:완전(?:히)?|아주)\b', regex=True)]
forms

17                name1님 완전 대인배
28           ㅋㅋㅋㅋ저요? 저 완전 발발이에요
343                      완전 귀여움
427                    완전 먹짱이자나
700         근데 나 흰산호 완전 싸게 구해서
                   ...
3065987         31일까지니까 아주 여유있네
3068503       아 이번 토용템 아주 맘에 든다
3068646             완전 부티크 그 자체
3068683    미애 완전 아이돌 아니냐고~~~!!!
3068709           헐 완전 첨 보는 벽지다
Name: form, Length: 12120, dtype: object

In [5]:
from collections import Counter

keywords = ('완전', '완전히', '아주')
collocations_dict = {}

# '완전 ㅇㅇ' 꼴에서 'ㅇㅇ'에 해당하는 부분을 모아서 출현 횟수를 세기
for word in keywords:
    collocations_dict[word] = pd.Series(Counter(forms.str.findall(fr'\b{word} (\w+)').sum()))

collocations = pd.DataFrame(collocations_dict)
collocations

         완전  완전히  아주
0       1.0  NaN NaN
0됐어요    NaN  1.0 NaN
1       2.0  NaN NaN
100퍼센트  1.0  NaN NaN
100프로   NaN  1.0 NaN
...     ...  ...  ..
힙할거같아   1.0  NaN NaN
힙합은     1.0  NaN NaN
힙해서     1.0  NaN NaN
힙혀      1.0  NaN NaN
힝입니다    1.0  NaN NaN

[7804 rows x 3 columns]

In [6]:
collocations[collocations.isna()] = 0
collocations = collocations.astype('int')
collocations

        완전  완전히  아주
0        1    0   0
0됐어요     0    1   0
1        2    0   0
100퍼센트   1    0   0
100프로    0    1   0
...     ..  ...  ..
힙할거같아    1    0   0
힙합은      1    0   0
힙해서      1    0   0
힙혀       1    0   0
힝입니다     1    0   0

[7804 rows x 3 columns]

In [7]:
collocations.sort_values('완전', ascending=False).head(10)

       완전  완전히  아주
좋아해요  173    0  13
많이     58    0  23
잘      50    0  59
맛있어요   38    0   7
좋아요    34    0  22
다른     31    3   1
좋아     26    0  25
맛있죠    26    0   1
웃경     26    0   0
열심히    25    0   6

In [8]:
collocations.sort_values('완전히', ascending=False).head(10)

      완전  완전히  아주
카피     1    5   0
다     23    4   4
다른    31    3   1
일어났당   0    2   0
copy   0    2   0
종식되지   0    2   0
가을    17    2   0
영혼이    0    1   0
새거는    0    1   0
익히기    0    1   0

In [9]:
collocations.sort_values('아주', ascending=False).head(10)

     완전  완전히  아주
가끔    2    0  63
그냥    4    0  62
잘    50    0  59
좋은   21    0  52
좋아   26    0  25
조금    1    0  24
많이   58    0  23
좋아요  34    0  22
예전에   6    0  19
조앙    5    0  15

In [10]:
ntokens = collocations.sum(axis=0)
ntokens

완전     8116
완전히     169
아주     3039
dtype: int64

In [11]:
ntypes = (collocations > 0).sum(axis=0)
ntypes

완전     5917
완전히     156
아주     2095
dtype: int64

In [12]:
# TTR: Type-Token Ratio
ntypes / ntokens * 100

완전     72.905372
완전히    92.307692
아주     68.937150
dtype: float64

In [13]:
collocations.to_csv('../data/NIKL_OM_collocation_wanjeon.csv')

In [14]:
wj_aj = collocations[(collocations['완전'] > 0) & (collocations['아주'] > 0)]
del wj_aj['완전히']
wj_aj['완전/아주'] = wj_aj['완전'].div(wj_aj['아주'])
wj_aj

/tmp/ipykernel_117148/3400504462.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wj_aj['완전/아주'] = wj_aj['완전'].div(wj_aj['아주'])

        완전  아주     완전/아주
ㅋ        1   2  0.500000
ㅋㅋ       5   4  1.250000
ㅋㅋㅋ      6   7  0.857143
ㅋㅋㅋㅋㅋ    1   1  1.000000
ㅎ        1   2  0.500000
...     ..  ..       ...
훌륭하십니다   1   1  1.000000
훌륭한      3   3  1.000000
흥미로워요    1   1  1.000000
흥미진진     5   3  1.666667
힘들어요     1   1  1.000000

[339 rows x 3 columns]

In [15]:
wj_aj.sort_values('완전/아주').head(30)

       완전  아주     완전/아주
가끔      2  63  0.031746
조금      1  24  0.041667
그냥      4  62  0.064516
살짝      1  14  0.071429
멋진      1  10  0.100000
좋습니다    1  10  0.100000
천천히     1   9  0.111111
약간      1   6  0.166667
굿       1   5  0.200000
어릴때     2  10  0.200000
무서운     1   4  0.250000
좋더라구요   1   4  0.250000
작은      3  11  0.272727
예전에     6  19  0.315789
굿입니다    1   3  0.333333
알차게     2   6  0.333333
시원해요    1   3  0.333333
별로야     1   3  0.333333
맛이      1   3  0.333333
예전      1   3  0.333333
잘했당     1   3  0.333333
다양한     1   3  0.333333
최근에     1   3  0.333333
조앙      5  15  0.333333
좋군      1   3  0.333333
지       1   3  0.333333
하루종일    1   3  0.333333
맛나게     2   5  0.400000
좋은     21  52  0.403846
친한      1   2  0.500000

In [16]:
wj_aj.sort_values('완전/아주', ascending=False).head(30)

         완전  아주      완전/아주
다른       31   1  31.000000
맛있죠      26   1  26.000000
대박       17   1  17.000000
제        16   1  16.000000
재밌게      15   1  15.000000
좋아해요    173  13  13.307692
달라요      13   1  13.000000
재밌어요     10   1  10.000000
맛있어      20   2  10.000000
꿀팁이네요     9   1   9.000000
맛있겠어요     8   1   8.000000
좋아하죠     16   2   8.000000
좋은데요      8   1   8.000000
좋아해서     14   2   7.000000
부러워요     14   2   7.000000
멋져요      14   2   7.000000
좋을        7   1   7.000000
싸게        7   1   7.000000
별로        7   1   7.000000
맛있었어요     7   1   7.000000
맛있을       6   1   6.000000
재밌어       6   1   6.000000
크게        6   1   6.000000
좋아하거든요    6   1   6.000000
다        23   4   5.750000
맛있어요     38   7   5.428571
내가        5   1   5.000000
좋아여       5   1   5.000000
맛있더라      5   1   5.000000
좋아함       5   1   5.000000